[submodule "difficalcy"]
	path = difficalcy
	url = git@github.com:cdwcgt/difficalcy.git
	branch = custom
[submodule "osu"]
	path = osu
	url = git@github.com:cdwcgt/osu.git
	branch = performanceplus-modify
